
<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <ul>
    <li>
      <h2>
        <a routerLink="/home">Home</a>
      </h2>
    </li>
   
  </ul>

  <router-outlet></router-outlet>
</div>