<!-- Editable Table -->
<div *ngIf="dataLoaded">
<app-editable-table 
  [columns]="['itemId','partNo','description','vendorName','vendorMobile','vendorCountry', 'Actions']"
  [editableColumns] = "['partNo', 'description', 'vendorName']"
  [dateColumns] ="['createdAt','updatedAt']"
  [data]="tableData" 
  [pageSizeOptions]="[5,6,9,12,20,50,100]" 
  [searchable]="true" 
  (action)="action($event)"
  [notification]="yourMessage"
  [maxChar]="23">
</app-editable-table>
</div>
  
